.input-label {
    color: rgb(35, 35, 35);
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    margin-bottom: 4px;
    position: relative;
}

.input {
    border: 1px solid rgb(200, 200, 200);
    border-radius: 4px;
    height: 32px;
    margin-bottom: 16px;
    padding-left: 36px;
}
.input:focus,
.input:focus-visible {
    outline: 1px solid rgb(39, 189, 33);
}

.mail {
    left: 10px;
    position: absolute;
    top: 31px;
}
